/* IMPORT FONT */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  transition: 0.15s;
}

body {
  background-color: #fff;
  /* background-color: salmon; */
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style: none;
}

/* NAV CONTAINER */
.nav-container {
  background-color: #f5f5f5;
  /* margin-bottom: 3em; */
}

/* CENTER */
.center {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  /* background-color: green; */
}

.nav {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: 600;
  font-size: 1.5rem;
}

.page-links {
  display: flex;
}

.page-link {
  margin-left: 0.5em;
  padding: 0.2em 0.5em;
  border-radius: 0.2em;
}

/* OTHER LINKS */
.other-links {
  display: flex;
  align-items: center;
  gap: 1em;
}

.cart-link {
  font-size: 1.3rem;
}

/* PAGE CENTER */
.page-center {
  width: 90%;
  min-height: calc(100vh - 60px);
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 3em;
}

/* HERO SECTION */
.hero-section {
  width: 100%;
  margin-bottom: 5em;
}

.hero {
  height: 420px;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  background-color: red;
  border-radius: 0.25em;
  overflow: hidden;
  background-image: url("https://images.unsplash.com/photo-1540574163026-643ea20ade25?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  z-index: 1;
  padding: 2em;
  box-shadow: 1px 2px 3px #494949;
}

.hero::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  background-color: #03030359;
  z-index: -1;
}

.hero-title {
  font-size: 2.7rem;
  max-width: 80%;
  color: #fff;
  margin-bottom: 0.5em;
}

.hero-info {
  font-size: 0.9rem;
  max-width: 55%;
  color: #000;
  font-weight: 400;
  line-height: 1.5;
  background-color: #ffffffec;
  padding: 0.8em 0.5em;
  border-radius: 0.3em;
  margin-top: 0.5em;
  letter-spacing: 0.5px;
}

.hero-name {
  margin-top: 0.7em;
  font-size: 1.7rem;
  color: #fff;
  line-height: 1.5;
  margin-bottom: 0.4em;
}

.hero-name span {
  text-transform: capitalize;
}

.btn {
  text-transform: capitalize;
  border: none;
  border-radius: 0.2em;
  cursor: pointer;
}

.hero-btn {
  color: #fff;
  font-size: 1rem;
  padding: 0.2em 0.5em;
  background-color: #000000d5;
}

/* ERROR */
.error-section {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: rgb(70, 70, 75);
}

.error-container {
  width: 90%;
  height: 80vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 0.5em;
}

.error-container h3 {
  font-size: 4rem;
}

.error-container p {
  font-size: 1.5rem;
}

.error-container .btn {
  margin-top: 1em;
  background: #fff;
  color: #000;
  padding: 0.2em 0.5em;
  font-size: 1rem;
}

.error-container .btn:hover {
  background-color: #000;
  color: #fff;
}

/* PRODUCTS GRID*/
.products-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5em;
}

.product-card {
  min-width: 300px;
  display: flex;
  flex-direction: column;
  height: 300px;
  border-radius: 0.2em;
  overflow: hidden;
  box-shadow: 1px 1px 3px #8a8a8a;
  margin-bottom: 1em;
}

.product-card .img-container {
  height: 80%;
}

.product-card .info {
  padding: 0.5em;
}

.product-card .basic-info {
  display: flex;
  justify-content: space-between;
}

.title {
  font-weight: 700;
}

/* SECTION TITLE */
.section-title {
  text-align: center;
  margin-bottom: 1.5em;
  text-transform: capitalize;
}

/* SINGLE PRODUCT */
.single-product {
  display: grid;
  grid-template-columns: auto 1fr;
  /* place-items: center; */
  gap: 1.5em;
}

.single-product .img-container {
  width: 400px;
  height: 450px;
  border-radius: 0.2em;
  overflow: hidden;
}

.right .title {
  text-transform: capitalize;
}

.right .company {
  text-transform: uppercase;
  margin-bottom: 0.7em;
}

.right .price {
  background-color: #000000da;
  display: inline-block;
  padding: 0em 0.5em;
  color: #fff;
  border-radius: 0.2em;
  margin-bottom: 1em;
}

.right .desc {
  line-height: 1.7;
  max-width: 90%;
  margin-bottom: 1em;
}

.colors {
  margin-bottom: 1em;
}

.color-el {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: none;
  margin-right: 0.5em;
  cursor: pointer;
}

/* FORM SELECT */
.form-select {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1em;
  line-height: 1.7;
  text-transform: capitalize;
}

/* FORM INPUT */
.form-input {
  text-transform: capitalize;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  line-height: 2;
}

.form-input input {
  padding: 0.2em;
  /* width: 70%; */
}

/* PRODUCTS */
.products {
  display: flex;
}

.filters-container {
  width: 250px;
  margin-right: 1.5em;
}

/* FORM CHECKBOX */
.form-checkbox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1em;
}

/* FORM RANGE */
.form-range {
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}

/* SEARCH BTN */
.search-btn {
  padding: 0.2em 0.5em;
  background-color: #000;
  color: #fff;
  margin-right: 0.5em;
}

.reset-btn {
  padding: 0.2em 0.5em;
  background-color: #fff;
  color: #000;
  border: 1px solid;
}

/* PAGINATION CONTAINER */
.active-pg-btn {
  background-color: salmon;
}

/* CART CONTAINER */
.cart-container {
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  gap: 2em;
  align-items: flex-start;
}

/* CART ITEMS LIST */
.cart-items-list {
  /* padding: 1.5em; */
  background-color: #fff;
  border-radius: 0.2em;
  max-width: 90%;
}

.cart-item {
  width: 100%;
  display: flex;
  gap: 1em;
  padding: 0.5em;
  border-radius: 0.2em;
  margin-bottom: 1.5em;
  box-shadow: 0px 1px 5px #bebebe;
}

.cart-item .img-container {
  width: 120px;
  height: 100px;
}

.cart-item .remove-btn {
  background-color: transparent;
  font-size: 0.8rem;
  color: rgb(145, 38, 26);
  margin-top: 0.5em;
}

/* CART TOTALS CONTAINER */
.cart-totals-container {
  max-width: 400px;
  padding: 1em;
  background-color: #fff;
  /* border-radius: 0.2em; */
  border: 1px solid;
}

.cart-totals-container p {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid;
  padding-bottom: 0.1em;
  margin-bottom: 0.7em;
}

.cart-totals-container .order-total {
  margin-top: 1.2em;
  border: none;
  font-weight: 600;
}

.clear-cart-btn {
  margin-top: 1em;
  padding: 0.2em 0.5em;
  background-color: rgb(207, 33, 33);
  color: #fff;
  text-transform: uppercase;
}

/* REGISTER */
.register {
  display: grid;
  place-items: center;
  padding-top: 4em;
}

.register-form {
  width: 90%;
  max-width: 350px;
  border: 1px solid;
  border-radius: 0.2em;
  padding: 2em;
}

.register-form .btn {
  margin-top: 1em;
}
